databases:
  - name: postgres
    databaseName: Recipe_app
    user: Recipe_app

services:
  - type: web
    name: Recipe_app
    runtime: ruby
    buildCommand: "./render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false