<%= stylesheet_link_tag 'foodindex' %>

<div class='foodindex-container'>
  <p style="color: green"><%= notice %></p>
  <%= button_to "Add food", new_food_path %>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <%= render food %>
      <% end %>
    </tbody>
  </table>
</div>



