nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  color: cadetblue;
  box-shadow: 0 5px 5px #e5e5e5;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
